<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Multon_Everypay>
            <version>1.1.0</version>
        </Multon_Everypay>
    </modules>
    <global>
        <models>
            <everypay>
                <class>Multon_Everypay_Model</class>
				<resourceModel>everypay_resource</resourceModel>
            </everypay>
			<everypay_resource>
				<class>Multon_Everypay_Model_Resource</class>
				<entities>
					<nonce>
						<table>everypay_nonce</table>
					</nonce>
				</entities>
			</everypay_resource>
        </models>
        <blocks>
            <everypay>
                <class>Multon_Everypay_Block</class>
            </everypay>
        </blocks>
		<resources>
			<everypay_setup>
				<setup>
					<module>Multon_Everypay</module>
				</setup>
			</everypay_setup>
		</resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <Multon_Everypay>
                    <file>multon/everypay.xml</file>
                </Multon_Everypay>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <Multon_Everypay>
                    <file>multon/everypay.xml</file>
                </Multon_Everypay>
            </updates>
        </layout>
        <routers>
            <everypay>
                <use>standard</use>
                <args>
                    <module>Multon_Everypay</module>
                    <frontName>everypay</frontName>
                </args>
            </everypay>
        </routers>
    </frontend>
    <default>
        <payment>
            <multon_everypay>
                <active>0</active>
                <title>EveryPay</title>
                <order_status>pending</order_status>
                <gateway_url>https://pay.every-pay.eu/transactions/</gateway_url>
                <api_username></api_username>
                <api_secret></api_secret>
                <account_id></account_id>
				<transaction_type>authorisation</transaction_type>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>everypay/everypay</model>
                <payment_action>authorize</payment_action>
            </multon_everypay>
        </payment>
    </default>
</config>