<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Multon_Everypay>
            <version>1.3.7</version>
        </Multon_Everypay>
    </modules>
    <global>
        <models>
            <everypay>
                <class>Multon_Everypay_Model</class>
				<resourceModel>everypay_resource</resourceModel>
            </everypay>
			<everypay_resource>
				<class>Multon_Everypay_Model_Resource</class>
				<entities>
					<nonce>
						<table>everypay_nonce</table>
					</nonce>
					<token>
						<table>everypay_token</table>
					</token>
				</entities>
			</everypay_resource>
        </models>
        <blocks>
            <everypay>
                <class>Multon_Everypay_Block</class>
            </everypay>
        </blocks>
		<helpers>
			<everypay>
				<class>Multon_Everypay_Helper</class>
			</everypay>
		</helpers>
		<resources>
			<everypay_setup>
				<setup>
					<module>Multon_Everypay</module>
				</setup>
			</everypay_setup>
		</resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <Multon_Everypay>
                    <file>multon/everypay.xml</file>
                </Multon_Everypay>
            </updates>
        </layout>
        <translate>
            <modules>
                <everypay>
                    <files>
                        <default>Multon_Everypay.csv</default>
                    </files>
                </everypay>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <Multon_Everypay>
                    <file>multon/everypay.xml</file>
                </Multon_Everypay>
            </updates>
        </layout>
        <routers>
            <everypay>
                <use>standard</use>
                <args>
                    <module>Multon_Everypay</module>
                    <frontName>everypay</frontName>
                </args>
            </everypay>
        </routers>
        <translate>
            <modules>
                <Multon_Everypay>
                    <files>
                        <default>Multon_Everypay.csv</default>
                    </files>
                </Multon_Everypay>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <multon_everypay>
                <active>0</active>
                <title>EveryPay</title>
                <order_status>pending</order_status>
				<connection_type>1</connection_type>
				<skin_name>default</skin_name>
                <gateway_url>https://pay.every-pay.eu/</gateway_url>
                <api_username></api_username>
                <api_secret></api_secret>
                <account_id></account_id>
                <order_confirmation>0</order_confirmation>
                <invoice_confirmation>1</invoice_confirmation>
                <model>everypay/everypay</model>
                <payment_action>authorize</payment_action>
				<quick_redirect>1</quick_redirect>
				<show_logo>1</show_logo>
				<show_title>0</show_title>
				<add_jquery>0</add_jquery>
            </multon_everypay>
        </payment>
    </default>
</config>